<footer class="footer">
    <div class="content has-text-centered">
        <!-- <p>
            <strong>NanaTrade</strong> by <a href="https://nanatrademcom" target="_blank">Tech Team</a> and
            <a href="https://basilissa.com" target="_blank">Arrobalytics</a>. 
           
        </p> -->
        {% if user.is_superuser %}
            <a href="https://basilissa.com">NanaTrade Basilissa</a>
    </br>
            <a href="https://lemust.com">NanaTrade Lemust</a>
    </br>
        <a href="https://malicat.com">Malicat</a>
        {% endif %}
    </div>
</footer>